<% layout("/layouts/boilerplate.ejs") %>

  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add Title" type="text" class="form-control" required/>
            <div class="valid-feedback">looks good</div>
          </div>

          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">enter short description</div>
          </div>

          <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control" />
            <div class="invalid-feedback">enter valid URL/Link</div>
          </div> -->

          <div class="mb-3">
            <label for="image" class="form-label">Upload image</label>
            <input name="listing[image]" type="file" class="form-control" />
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="Price" class="form-label">Price</label>
              <input name="listing[price]" placeholder="1200"  class="form-control" required />
              <div class="invalid-feedback">enter valid price</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
              <div class="invalid-feedback">enter valid country</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="Location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Mumbai" type="text" class="form-control" required/>
            <div class="invalid-feedback">enter short location</div>
          </div>
          <br><br>
          <button class="btn btn-dark add-btn">Add</button>
          <br><br>
        </form>
      </div>
    </div>
  </body>